<nav class="sidebar">
    <div class="position-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="selectedTool === toolType.PreFlightCalculator"
            (click)="selectTool(toolType.PreFlightCalculator)"
          >
            Power Calculator
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="selectedTool === toolType.TodoList"
            (click)="selectTool(toolType.TodoList)"
          >
            Todo List
          </a>
        </li>

        <!--li class="nav-item">
          <a
            class="nav-link"
            [class.active]="selectedTool === toolType.LiveFlightMonitor"
            (click)="selectTool(toolType.LiveFlightMonitor)"
          >
            Live Data Monitor
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="selectedTool === toolType.ImageAnalyzer"
            (click)="selectTool(toolType.ImageAnalyzer)"
          >
            ROS2 Controller
          </a>
        </li-->
      </ul>
    </div>
  </nav>