<!--footer>
  <p>Version: 0.0.1</p>
  <p>TODO:</p>
  <ul>
    <li>Add form controls for each section include validation</li>
    <li>Selection need only reload current property not reload page</li>
    <li>using D3 to display graphic analysis reuslt on right </li>
    <li>Result view enhancement for 3 + x layout</li>
    <li>Add slid bar or funny input type for input option, not only dorp down, also </li>
    <li>Add top nav bar if required?</li>
  </ul>
</footer-->

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
    <p class="text-center text-body-secondary">&copy; 2025 Ben Li</p>
  </footer>
</div>

