
<div class="container mt-4">
    <h3>Todo List</h3>
  
    <!-- Buttons -->
    <div class="d-flex justify-content-end mb-3">
      <button id="saveButton" class="btn btn-success" (click)="save()">Add</button>
    </div>
  
    <!-- Inline Form -->
    <form class="row align-items-center">
      <!-- Name Input -->
      <div >
        <label for="name" class="form-label visually-hidden">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="toolEntity.name" name="name" />
      </div>
    </form>
    <br />
    <hr />
  
    <!-- Table -->
    <div class="mt-4">
      <h3>Results Table</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of toolRow; let i = index">
            <td>{{ row.toolEntity.name }}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="delete(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  