table.disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  

/* Table styles */
.table {
    background-color: var(--table-bg);
    color: var(--text-color);
    border-color: var(--table-border);
  
    th, td {
      border-color: var(--table-border);
    }
  
    thead {
      background-color: var(--table-border); /* Slightly darker for header */
    }
  
    tbody tr:hover {
      background-color: rgba(255, 255, 255, 0.1); /* Subtle hover effect */
    }
  }

  h3 {
    color: var(--text-color);
  }